@font-face {
  font-family: "zabars";
  src: url("./fonts/zabars.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-image: url("img/5_background/website_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 100px;
  font-size: 70px;
  letter-spacing: 8px;
}

canvas {
  display: block;
  background-color: black;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.d-none {
  display: none !important;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
  width: 720px;
  height: 420px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  letter-spacing: 3px;
  font-size: 32px;
  margin: 10px;
  background-color: #d87740;
  cursor: pointer;
}

.btn-style:hover {
  font-size: 34px;
}

.game-over-screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("img/9_intro_outro_screens/game_over/game over.png");
  width: 720px;
  height: 420px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

/* Smartphones ---------------------- */
@media only screen and (max-width: 720px) {
  .fullscreen {
    width: 100%;
  }
}

/* Smartphones ---------------------- */
@media only screen and (max-height: 480px) {
  .fullscreen {
    height: 100vh;
  }
}
