@font-face {
	font-family: "zabars";
	src: url("./fonts/zabars.ttf") format("truetype");
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: "zabars", Arial, Helvetica, sans-serif;
	background-image: url("img/5_background/website_background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	margin-top: 100px;
	font-size: 70px;
	letter-spacing: 8px;
}

canvas {
	display: block;
	background-color: black;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.d-none {
	display: none !important;
}

.start-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
	width: 720px;
	height: 480px;
	background-repeat: no-repeat;
	background-position: center right;
}

.btn-style {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "zabars", Arial, Helvetica, sans-serif;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	letter-spacing: 3px;
	font-size: 32px;
	margin: 10px;
	background-color: #d87740;
	cursor: pointer;
}

.btn-style:hover {
	font-size: 34px;
}

.game-over-screen {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	background-size: contain;
	background-image: url("img/9_intro_outro_screens/game_over/game over.png");
	width: 720px;
	height: 480px;
	background-position: center right;
}

.game-winner-screen {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	background-image: url("img/9_intro_outro_screens/start/startscreen_2.png");
	width: 720px;
	height: 480px;
	background-position: center right;
}

.game-winner-screen h2 {
	font-size: 50px;
	color: #000000;
	letter-spacing: 8px;
}

.canvasScreen {
	display: flex;
	justify-content: center;
	position: relative;
}

.canvasScreen img {
	max-width: 40px;
	position: absolute;
	z-index: 3;
	margin-top: 10px;
	cursor: pointer;
}

.fullscreenIcon {
	margin-left: 60px;
}

.muteIcon {
	margin-right: 60px;
}

.gameBoard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #d87740;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.buttonContainer {
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #d87740;

	height: 100%;
}

.buttonContainer button {
	height: 150px;
	box-shadow: inset 0px 1px 0px 0px #f9eca0;
	background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color: #ffa600;
	border-radius: 6px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ded17c;
	margin-top: 10px;
}

.buttonContainer button:hover {
	background: linear-gradient(to bottom, #ffc400 5%, #ffa600 100%);
	background-color: #ffc400;
}

.buttonContainer button:active {
	position: relative;
	top: 1px;
}
.buttonContainer i {
	font-size: 30px;
}

.how-to-play {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 25px;
	background: rgb(251, 239, 232);
	background: linear-gradient(180deg, rgba(251, 239, 232, 1) 0%, rgba(240, 201, 179, 1) 52%, rgba(224, 148, 106, 1) 100%);
	width: 500px;
	position: relative;
	-webkit-box-shadow: 0px 0px 47px -13px #000000;
	box-shadow: 0px 0px 47px -10px #000000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	letter-spacing: 1px;
	padding-bottom: 20px;
}

.how-to-play-explain {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.how-to-play-explain p {
	padding-left: 10px;
}

.backdrop {
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	backdrop-filter: blur(10px);
	position: absolute;
}

.top-right {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	cursor: pointer;
}
.top-right:hover {
	font-size: 26px;
}

@media only screen and (max-height: 700px) {
	h1 {
		display: none;
	}

	.gameBoard {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

@media only screen and (max-width: 860px) {
	#canvas {
		width: calc(100vw - (2 * 70px));
	}

	.start-screen {
		width: calc(100vw - (2 * 70px));
		height: 400px;
	}
	.game-over-screen {
		width: calc(100vw - (2 * 70px));
		height: 400px;
	}

	.game-winner-screen {
		width: calc(100vw - (2 * 70px));
		height: 400px;
	}

	.buttonContainer button {
		padding: 0px 0px;
	}

	h1 {
		font-size: 50px;
		margin-top: 80px;
	}
}
@media only screen and (max-width: 660px) {
	.start-screen {
		width: calc(100vw - (2 * 70px));
		height: 290px;
	}
	.game-over-screen {
		width: calc(100vw - (2 * 70px));
		height: 300px;
	}
	.game-winner-screen h2 {
		font-size: 30px;
	}
	.game-winner-screen {
		width: calc(100vw - (2 * 70px));
		height: 290px;
	}

	.buttonContainer button {
		height: 80px;
	}
	.btn-style {
		width: 150px;
		height: 30px;
		font-size: 16px;
	}

	h1 {
		font-size: 35px;
		margin-top: 40px;
	}
}

@media only screen and (max-width: 500px) {
	.start-screen {
		width: calc(100vw - (2 * 70px));
		height: 150px;
	}
	.game-over-screen {
		width: calc(100vw - (2 * 70px));
		height: 200px;
	}
	.game-winner-screen h2 {
		font-size: 16px;
	}
	.game-winner-screen {
		width: calc(100vw - (2 * 70px));
		height: 150px;
	}

	h1 {
		font-size: 20px;
		margin-top: 30px;
	}

	.how-to-play {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		width: 100%;
		font-size: 20px;
	}

	.muteIcon {
		width: 16px;
		margin-right: 20px;
	}
	.fullscreenIcon {
		width: 16px;
		margin-left: 20px;
	}
}

@media only screen and (max-width: 360px) {
	.buttonContainer button {
		margin-top: 2px;
	}

	.buttonContainer i {
		font-size: 16px;
		margin-top: 10px;
	}
	.game-winner-screen h2 {
		font-size: 12px;
	}

	.btn-style {
		width: 80px;
	}
}
